@import "themes.css";
@import "themedinput.css";
@import "memicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply !bg-theme-neutral-background;
}

.bg-theme-gradient {
    background-color: var(--theme-primary);
    background: linear-gradient(73deg, var(--theme-primary) 27.95%, var(--theme-secondary) 134.46%);
}

.bg-theme-gradient-secondary {
    background-color: var(--theme-secondary);
    background: linear-gradient(70deg, var(--theme-secondary) -53.75%, var(--theme-primary) 96.16%);
}

.bg-theme-gradient-neutral {
    background-color: var(--theme-neutral);
    background: linear-gradient(262deg, var(--theme-neutral-invert) -48.94%, var(--theme-neutral) 91.45%);
}

.bottom-navbar:before {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: block;
    background: currentColor;
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 98px;
    height: 32px;
    mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='31' viewBox='0 0 98 31' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0C10.29 0 19.724 5.86867 24.326 15.0726C34.326 35.0713 62.985 35.1595 72.859 15.0985C77.408 5.85485 86.816 0 97.118 0H0Z' fill='%23FFEAD9'/%3E%3C/svg%3E");
    -webkit-mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='31' viewBox='0 0 98 31' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0C10.29 0 19.724 5.86867 24.326 15.0726C34.326 35.0713 62.985 35.1595 72.859 15.0985C77.408 5.85485 86.816 0 97.118 0H0Z' fill='%23FFEAD9'/%3E%3C/svg%3E");
}
