:root {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #FFEAD9;
    --theme-primary: #FF6819;
    --theme-primary-200: #FFD0B8;
    --theme-primary-400: #FF8A4C;
    --theme-primary-light: #FFAB80;
    --theme-primary-hover: #B23D00;
    --theme-secondary: #FFF491;
    --theme-secondary-light: #FFF491;
    --theme-secondary-hover: #FFF491;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
    --emotion-anger: #F33;
    --emotion-joy: #FFEF5C;
    --emotion-sadness: #2AF4DC;
    --emotion-fatigue: #B466FF;
    --emotion-stress: #FF671A;
    --emotion-excitement: #7777F8;
    --emotion-faith: #F967E0;
    --emotion-pride: #52FB18;
}

.uranus, html[data-theme="uranus"] {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #F1F1FE;
    --theme-primary: #4747F3;
    --theme-primary-200: #D9D9FD;
    --theme-primary-400: #9F9FF9;
    --theme-primary-light: #F1F1FE;
    --theme-primary-hover: #F1F1FE;
    --theme-secondary: #E6CCFF;
    --theme-secondary-light: #D4A8FF;
    --theme-secondary-hover: #D4A8FF;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
}

.saturne, html[data-theme="saturne"] {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #FFEAD9;
    --theme-primary: #FF6819;
    --theme-primary-200: #FFD0B8;
    --theme-primary-400: #FF8A4C;
    --theme-primary-light: #FFAB80;
    --theme-primary-hover: #B23D00;
    --theme-secondary: #FFF491;
    --theme-secondary-light: #FFF491;
    --theme-secondary-hover: #FFF491;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
}

.venus, html[data-theme="venus"] {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #FEF0FC;
    --theme-primary: #FA8DE8;
    --theme-primary-200: #FDC9F4;
    --theme-primary-400: #F971E2;
    --theme-primary-light: #FB9DEB;
    --theme-primary-hover: #D709B5;
    --theme-secondary: #FD6B50;
    --theme-secondary-light: #FEAA9A;
    --theme-secondary-hover: #FEAA9A;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
}

.jupiter, html[data-theme="jupiter"] {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #F4FBD6;
    --theme-primary: #C5E71E;
    --theme-primary-200: #DBF075;
    --theme-primary-400: #A4C215;
    --theme-primary-light: #A4C215;
    --theme-primary-hover: #71860E;
    --theme-secondary: #34A9A0;
    --theme-secondary-light: #86DAD3;
    --theme-secondary-hover: #86DAD3;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
}