:root {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #FFEAD9;
    --theme-primary: #FF6819;
    --theme-primary-200: #FFD0B8;
    --theme-primary-400: #FF8A4C;
    --theme-primary-light: #FFAB80;
    --theme-primary-hover: #B23D00;
    --theme-secondary: #FFF491;
    --theme-secondary-light: #FFF491;
    --theme-secondary-hover: #FFF491;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
}

.light {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #FFEAD9;
    --theme-primary: #FF6819;
    --theme-primary-200: #FFD0B8;
    --theme-primary-400: #FF8A4C;
    --theme-primary-light: #FFAB80;
    --theme-primary-hover: #B23D00;
    --theme-secondary: #FFF491;
    --theme-secondary-light: #FFF491;
    --theme-secondary-hover: #FFF491;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
}

.dark {
    --theme-neutral: #2C2829;
    --theme-neutral-invert: #FDFBF8;
    --theme-neutral-bg: #FFEAD9;
    --theme-primary: #FF6819;
    --theme-primary-200: #FFD0B8;
    --theme-primary-400: #FF8A4C;
    --theme-primary-light: #FFAB80;
    --theme-primary-hover: #B23D00;
    --theme-secondary: #FFF491;
    --theme-secondary-light: #FFF491;
    --theme-secondary-hover: #FFF491;
    --theme-success: #34C502;
    --theme-success-bg: #D9FECD;
    --theme-warning: #FF7512;
    --theme-warning-bg: #FF7512;
    --theme-error: #FF0A0A;
    --theme-error-bg: #FFE5E5;
    --theme-disabled: #60575A;
    --theme-disabled-bg: #DDDADA;
}